/* HEADER (GitUpperCut) */
.header {
    background: #111;
    color: #fff;
    padding: 15px 0;
    border-bottom: 3px solid #ff3131; /* vermelho arcade */
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #ff3131;
    letter-spacing: 2px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: #ff3131;
    text-shadow: 0 0 10px #ff3131;
}

.icons img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.2s;
}

.icons img:hover {
    transform: scale(1.2);
}
