/* HEADER (HUD SUPERIOR) */
#mainHeader {
    background: rgba(5, 5, 5, 0.90); /* Quase opaco */
    padding: 15px 40px;
    border-bottom: 2px solid rgba(255, 0, 0, 0.2); /* Linha vermelha sutil */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Efeito GTA Glass */
    transition: 0.3s;
}

/* LOGO */
.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
    margin: 0;
    text-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
}

/* MENU */
#mainHeader nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainHeader nav a {
    color: #888;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    position: relative;
    padding: 5px 0;
}

/* Hover: Texto fica branco e ganha brilho vermelho */
#mainHeader nav a:hover {
    color: #fff;
    text-shadow: 0 0 10px var(--mk-blood);
}

/* Linha animada embaixo do link */
#mainHeader nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--mk-blood);
    transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 0 10px var(--mk-blood);
}

#mainHeader nav a:hover::after {
    width: 100%;
}

/* Responsividade Mobile */
@media (max-width: 768px) {
    #mainHeader { flex-direction: column; gap: 15px; padding: 15px; }
    #mainHeader nav ul { gap: 20px; flex-wrap: wrap; justify-content: center; }
}