:root {
    --bg-color: #0f0f0f;
    --primary-color: #ff3131; /* Vermelho Sangue */
    --accent-color: #ffcb00; /* Amarelo Scorpion */
    --text-color: #f0f0f0;
    --glass: rgba(255, 255, 255, 0.05);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Rajdhani', sans-serif; /* Fonte técnica/futurista */
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Scanlines Effect */
.scanlines {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2));
    background-size: 100% 4px;
    z-index: 9999;
    pointer-events: none;
    opacity: 0.3;
}

/* Estilo de Botão "Arcade" */
.btn-fight {
    display: inline-block;
    padding: 10px 30px;
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    font-family: 'Bebas Neue';
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    text-shadow: 0 0 5px var(--primary-color);
}

.btn-fight:hover {
    background: var(--primary-color);
    color: #000;
    box-shadow: 0 0 20px var(--primary-color);
}

#content {
    padding-top: 20px;
    min-height: 80vh;
}