<header id="mainHeader">
    <div class="logo-container">
        <h1 class="logo">Git<span style="color: #ffcb00;">Upper</span>Cut</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#home" data-page="home.html"><i class="fa-solid fa-dungeon"></i> Início</a></li>
            <li><a href="#blog" data-page="blog.html"><i class="fa-solid fa-scroll"></i> Blog</a></li>
            <li><a href="#quem-somos" data-page="quem-somos.html"><i class="fa-solid fa-users"></i> Lutadores</a></li>
            <li><a href="#faq" data-page="faq.html"><i class="fa-solid fa-circle-question"></i> Move List (FAQ)</a></li>
            <li><a href="#contato" data-page="contato.html"><i class="fa-solid fa-envelope"></i> Desafiar</a></li>
        </ul>
    </nav>
</header>